@import "../../components/styles/global.scss";
@import "../../components/styles/text.scss";

.default-screen-container {
  display: flex;
  flex-direction: row;
  
}
.default-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; // Full viewport height
  width: 100%;
  overflow: hidden; // Prevent overflow outside this container
}

.default-screen-component-container {

  @media (max-width: $breakpoint-mobile-max) {
    min-width: 100vw;
  }

  @media (min-width: $breakpoint-mobile-max) {
    max-height: 100dvh;
  }

  &.flex-sized-box{
    flex-grow: 2;
    align-items: center;
  }
  display: flex;
  flex-direction: column;
  position: relative;
  width: min-content;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 4rem;
  gap: 1rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  & > * {
    flex-shrink: 0;
  }
}

.action-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000000;
}

.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1000000;
}

.home-container {
  flex-grow: 1; // Allows container to expand
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; // Allow vertical scrolling inside this container
  padding: 1rem;
  width: 100%; // Full width
}

.accordion-container {
  width: 100%; // Ensures accordion takes full width of the container
  display: flex;
  flex-direction: column;
  align-items: center;
}


.charts-container{
  display: flex;
  flex-direction: row;
}

.workout-accordion{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-title{
  width: 100%;
}