@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Open+Sans:wght@400;700;800&display=swap');

$main-color: #caff5a;
$gray-color: #424242;
$background: #232323;
$light-gray-color:#D4D4D4;
$dark-gray-color: #313131;
$error: rgba(170, 0, 0,1); 